<head>  </head>
<script>
$( document ).ready(function() {
  $("#click-once").submit(function(){
    $(this).submit(function(){
      return false;
    });
    return true;
  });
});
</script>


<div class="container-fluid">


<h1 class="victory" ><span class="victory-v">B</span>ot or <span class="victory-v">N</span>ot</h1>
</div>
<div class="container-fluid">

  <% if @errors %>
  <div class="alert alert-danger" role="alert">
    <% @errors.each do |error| %>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <%= error %>
    <% end %>
  </div>
  <% end %>

  <p class="welcome lead intro-text container-fluid">Bots have infiltrated humanity with sabotage on their digital minds. Who can you trust?</p>

  <h3 class="welcome start_game_text container-fluid">Join a game</h3>

  <form method='POST' action="/games/:game_id/users" id="click-once">
    <div class="form-group container-fluid">
      <!-- <label for="Enter Game Code">Enter game code</label> -->
      <input type="text" class="form-control" name="key_code" placeholder="Game Code" aria-describedby="sizing-addon1" />
    </div>
    <div class="form-group container-fluid">
      <!-- <label for="Enter Username">Enter your name</label> -->
      <input type="text" class="form-control" name="name" placeholder="Your Name" />
    </div>
    <button type="submit" class="btn btn-success btn-robot container-fluid">Join Existing Game</button>
  </form>

  <br />

  <h3 class="welcome start_game_text container-fluid"> Start New Game</h3>

  <form method="POST" action="/games">
    <div class="form-group container-fluid">
      <!-- <label for="Enter your name">Enter your name</label> -->
      <input type="text" class="form-control" name="name" placeholder="Your Name" aria-describedby="sizing-addon1"/>
      <input type="hidden" name="creator" value="true" />
    </div>
    <input type="submit" class="btn btn-success btn-robot container-fluid" value="Create game code">
  </form>


  <video id="bgvid" playsinline autoplay muted loop>
    <source src="media/demo.mp4" type="video/mp4" />
    <!-- <source src="media/demo.ogv" type="video/ogg" />
    <source src="media/demo.webm" type="video/webm" /> -->
  Your browser doesn't support HTML5 video. Please use a modern browser</video>

</div>
