<ul class="board-list">
  <%i = 0 %>
  <% while i < 5 %>
  <li class="each-mission"
    <%if @rounds[i].nil? %>
     style="background-color:gray;"
    <%elsif @rounds[i].outcome%>
      style="background-color:  #ADD8E6;"
    <%elsif @rounds[i].outcome == false%>
      style="background-color: #CD5C5C;"
    <% else %>
      style="border-color: gray;"
    <%end%>
    >
    Mission <%=i+1%>
    <br>
  <%=@quest_hash[@gameUsers.length][i]%></li>
  <%i +=1%>
  <%end%>
</ul>
