<div class="board-list">
  <%i = 0 %>
  <% while i < 5 %>
  <div class="each-mission"
    <%if @rounds[i].nil? %>
     id = "image-dim"
    <%elsif @rounds[i] == @rounds.last %>
    id = "image-show"
    <%elsif @rounds[i].outcome%>
      id = "image-green"
    <%elsif @rounds[i].outcome == false%>
      id = "image-red"
    <%end%>
    >
    <span class="board-words"> Mission <%=i+1%></span>
    <br>
  <p class="board-words" style="font-size:xx-small"><%=@quest_hash[@gameUsers.length][i]%> members
  <% if @gameUsers.length > 1 && i == 3 %>
    <br> *Requires 2 fails </p>
  <% end %>
  </div>
  <%i +=1%>
  <%end%>
</div>

