<ul class="board-list">
  <%i = 0 %>
  <% while i < 5 %>
  <li class="each-mission"
    <%if @rounds[i].nil? %>
     style="background-color: #C2C5BB;"
    <%elsif @rounds[i].outcome%>
      style="background-color: #499F68;"
    <%elsif @rounds[i].outcome == false%>
      style="background-color: #BC381E;"
    <% else %>
      style="border-color: #C2C5BB;"
    <%end%>
    >
    Mission <%=i+1%>
    <br>
  <small><%=@quest_hash[@gameUsers.length][i]%> members</small>
  </li>
  <%i +=1%>
  <%end%>
</ul>
