
<div style='text-align:right'>
  <a href='/'>😱 RESTART</a>
</div>
<div class="container-fluid">
  <%= render "board"%>

  <%= react_component 'Game', gameStage: @gameStage, gameUsers: @gameUsers, currentUser: @currentUser, currentGame: @currentGame, currentRound: @currentRound, countRounds: @countRounds, countQuests: @countQuests %>
</div>
