<a href="/">Restart Game</a>
<%= render "board"%>
<%= react_component 'Game', gameStage: @gameStage, gameUsers: @gameUsers, currentUser: @currentUser, currentGame: @currentGame, currentRound: @currentRound, countRounds: @countRounds, countQuests: @countQuests %>
