<h2> Welcome to Project Mama </h2>
<a href="">Create a new game</a><br><br>
<form method='POST' action="/game">
<input type="text" placeholder="Enter game code">
<input type="submit" value="Join game">
</form>
