<h3>Your game code is:</h3>
<h4><%= current_user.game.key_code %></h4>
<h3>Name: <%= current_user.name %></h3>

<h5>Current number of players: <%= current_user.game.users.length%></h5><br>




STILL IN PROGRESS
<% if current_user.creator == true %>
<form method="POST" action="/games/:game_id/users/update">
  <input type='hidden', name='_method', value='put'>
  <input type="submit" value="Start game">
</form>
<% end %>
