<h3>Your game code is:</h3>

<h1><%= current_user.game.key_code %></h1>

<h3>Name: <%= current_user.name %></h3>

<h5>Current number of players: <%= current_user.game.users.length%></h5><br>

<!-- <%= react_component 'StartGame', user: @user, game: @current_game%> -->
<!-- needs to be updated for dynamic game size -->
<% if @current_user.creator == true && @current_user.game.users.length < 2 %>
<h5>Waiting for players.<h5>
<% end %>

<% if @current_user.creator == true && @current_user.game.users.length > 1 %>
<form method="POST" id="start-game-form" action="/games/:game_id/users/update">
  <input type='hidden' name='_method' value='put'>
  <input type="submit" value="Start game">
</form>
<% end %>

<% if @current_user.creator != true %>
<h5>Waiting for the game to begin. Refresh when creator starts the game.<h5>
<% end %>
