<div class="container-fluid">

  <h1>Welcome <%= current_user.name %>!</h1>

  <% if @current_user.creator == true %>
  <h2>Your game code is <strong><em><%= current_user.game.key_code %></em></strong></h2>
  <% end %>

  <br/>

  <% if @current_user.creator == true && @current_user.game.users.length <= 4 %>
  <div class="alert alert-info" role="alert">
    Waiting for players to join.
  </div>
  <% end %>

  <% if @current_user.creator != true %>
  <div class="alert alert-info" role="alert">
    Waiting for the game to begin.
  </div>
  <% end %>

  <%= react_component 'StartGame', game: @current_game, user: @current_user%>
  <%= react_component 'WaitForGameStart', game: @current_game, user: @current_user%>

</div>
