// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #F2F4ED;
}

h1#logo {
  margin-top: 0.0em;
  // margin-bottom: 0.0em;
  font-size: 250%;
  color: #BC381E; /* Orange */
  font-family: 'Bungee Shade', cursive;
  // font-family: 'Press Start 2P', cursive;
  // font-family: 'Bungee', cursive;
  // font-family: 'EB Garamond', serif;
}

.robot-color {
  background-color: #BC381E; /* Orange */
}

.human-color {
  background-color: #499F68; /* Green */
}


.board-list {
  list-style-type: none;
  margin: 0;
  margin-left: 0.8em;
  padding: 0;
  overflow: hidden;
}
#image-dim {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(boardrobots.jpg);
    color: white;
}

#image-show {
  background-image: linear-gradient(
      rgba(0, 0, 0.8, 0.2),
      rgba(0, 0, 0.8, 0.2)
    ), url(boardrobots.jpg);
}

#image-show > .board-words {
  opacity: 1;
  color: white;
  font-weight: bold;
}

#image-red {
background-image: linear-gradient(
      rgba(255, 0, 0, 0.2),
      rgba(255, 0, 0, 0.2)
    ), url(boardrobots.jpg);
    color: transparent;
}

#image-green {
background-image: linear-gradient(
      rgba(0, 215, 20, 0.2),
      rgba(0, 215, 20, 0.2)
    ), url(boardrobots.jpg);
    color: transparent;
}


.each-mission {
  background-size: cover;
  overflow: hidden;
  padding: 1px;
  margin: 1px;
  float: left;
  font-size: small;
  border-style: solid;
  border-width: 2px;
  border-color: #F2F4ED;
  text-align: center;
  height: 65px;
  width: 62px;
}


.container-fluid {
  // font-family: 'EB Garamond', serif;
}

ul {
  list-style-type: none;
}
