// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

  background: linear-gradient(to right,#1a2c44 , #2a3f5b, #172333);

}

.card_style {
  background: black;
  text-align: center;
}

.centered {

  margin-left: auto;
  margin-right: auto
}


h1#logo {
  padding-bottom: 10px;
  @media (min-width: 768px) { padding-bottom: 85px; }

  font-size: 300%;
  @media (min-width: 350px) { font-size: 400%; }
  @media (min-width: 768px) { font-size: 800%; }
  font-family: 'Permanent Marker', cursive;
  font-variant:small-caps;
  margin: auto;
  text-align: center;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-filter: drop-shadow(6px 6px 30px #f008b7);
}


#logo-v {
  position: relative;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  padding-right: 18px;
  margin-right: -18px;
}

.robot-color {
  background-color: #BC381E; /* Orange */
}

.human-color {
  background-color: #499F68; /* Green */
}


.board-list {
  list-style-type: none;
  margin: 0;
  margin-left: 0.8em;
  padding: 0;
  overflow: hidden;
}
#image-dim {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(boardrobots.jpg);
    color: white;
}

#image-show {
  background-image: linear-gradient(
      rgba(0, 0, 0.8, 0.2),
      rgba(0, 0, 0.8, 0.2)
    ), url(boardrobots.jpg);
}

#image-show > .board-words {
  opacity: 1;
  color: white;
  font-weight: bold;
}

#image-red {
background-image: linear-gradient(
      rgba(255, 0, 0, 0.2),
      rgba(255, 0, 0, 0.2)
    ), url(boardrobots.jpg);
    color: transparent;
}

#image-green {
background-image: linear-gradient(
      rgba(0, 215, 20, 0.2),
      rgba(0, 215, 20, 0.2)
    ), url(boardrobots.jpg);
    color: transparent;
}

.each-mission {
  background-size: cover;
  overflow: hidden;
  padding: 1px;
  margin: 1px;
  float: left;
  font-size: small;
  border-style: solid;
  border-width: 2px;
  border-color: #F2F4ED;
  text-align: center;
  height: 65px;
  width: 62px;
}


.container-fluid {
  // font-family: 'EB Garamond', serif;
}

ul {
  list-style-type: none;
}
