// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.each-mission {
  padding: 1px;
  margin: 1px;
  float: left;

  border-style: solid;
  border-width: 2px;
  border-color: white;
  text-align: center;

}

.container-fluid {
  // font-family: 'EB Garamond', serif;
}
