// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.welcome {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 500%;
  color: #FA343C; // robot orange
  font-family: 'Bungee Shade', cursive;
  // font-family: 'Press Start 2P', cursive;
  // font-family: 'Bungee', cursive;
  // font-family: 'EB Garamond', serif;
}

svg path {
  fill: #FA343C; // robot orange
}

input[type="text"] {
  background-color: #F2F4ED; // isabelline
}

.welcome {
  // color: #FA343C;
  // color: cornsilk;
  color: #F2F4ED; // isabelline
  // font-family: 'EB Garamond', serif;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  // background: url(polina.jpg) no-repeat;
  background-size: cover;
}
