// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
h1.victory {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 45px;
  @media (min-width: 768px) { padding-bottom: 85px; }

  font-size: 300%;
  @media (min-width: 350px) { font-size: 400%; }
  @media (min-width: 768px) { font-size: 750%; }
  font-family: 'Permanent Marker', cursive;
  font-variant:small-caps;
  -webkit-transform: skew(-15deg,-15deg);
  margin: auto;
  text-align: center;
  padding-top: 40px;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
}


.victory-v {
  position: relative;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  padding-right: 18px;
  margin-right: -18px;
}


svg path {
  fill: #FA343C; // robot orange
}

input[type="text"] {
  background-color: #F2F4ED; // isabelline
}


.intro-text {

  @media (min-width: 340px) { padding-top: 5px; }
  font-size: 15px;
  @media (min-width: 340px) { font-size: 18px; }
  @media (min-width: 768px) { font-size: 30px; }
}
.start_game_text {
  font-size: 16px;
  @media (min-width: 340px) { font-size: 24px; }
  @media (min-width: 768px) { font-size: 50px; }
}
.centered_large_text {

  font-size: 30px;
  @media (min-width: 340px) { font-size: 40px; }
  @media (min-width: 768px) { font-size: 60px; }
}

.welcome {
  // color: #FA343C;
  // color: cornsilk;
  line-height: 90%;
  @media (min-width: 340px) { line-height: 100%; }
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  text-shadow: 0 0 3px #2190FF;
  color: #2190FF; // isabelline

  position: relative;
  // font-family: 'EB Garamond', serif;
}

.pink_box {
  border: solid #2190FF 1px;
  width:fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 15px;

  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2 2 3px black;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  // background: url(polina.jpg) no-repeat;
  background-size: cover;
}
